body {
    background-color: black;
    color: white;
    font-size: 31px;   
}

header {
    background-color: green;
    font-family: 'Frijole', cursive;
}

h1 {
    font-size: 48px;
    padding-top: 10px;
    color: white;
    text-decoration: none;
}

nav ul {
    display: flex;
    justify-content: flex-end;
}

nav li {
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: auto;
    font-size: 30px;
    padding-left: 50px;
    padding-right: 50px;
}

nav a {
    color: white;
    text-decoration: none;
    display: inline;
}

.row,
.row-content {
    display: flex;
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: auto;
}

.col-4 {
    flex-basis: 33.33333%;
    display: inline-block;
}

.col-6 {
    flex-basis: 50%;
}

.col-12 {
    flex-basis: 100%;
}

.row-background {
    background-image: url("images/beginning3-2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    height: 805px;
    display: flex;
   justify-content: center;
}

.row-content {
    background-color: #aaaaaa;
    text-align: left;
   background: rgba(230, 229, 229, 0.582);
   font-family: 'Noto Sans HK', sans-serif;
   display: flex;
   flex-direction: column;
   justify-content: center;
   flex-direction: row;
   align-items: center;
   width: 30%;
   height: 75%;
   margin: 5% 10% 10% 10%;
   padding-left: 20px;
   padding-right: 20px;
}

.row-content h2 {
    font-weight: 900;
    font-size: 40px;
}

.row-content p {
    font-weight: 100;
    font-size: 31px;
    padding: 70px 10px 90px 10px;
}

h3 {
    font-family: 'Ballet', cursive;
    color: black;
    text-align: right;
}

h5 {
    font-size: 28px;
    padding-top: 30px;
}

  a {
    color: white;
    font-weight: 300;
    text-decoration: none;
  }

.footer {
    background-color: green;
    text-align: center;
    font-family: 'Shadows Into Light', cursive;
    height: 198px;
}

li {
    font-size: 28px;
}

.footer img {
    padding-top: 140px;

}

footer {
    text-align: left;
    font-size: 14px;
    padding-top: 170px;
}

.hidden-footer {
    display:none;
}

@media (max-width: 768px) {
    .row-content {
      display: block;
    }

    .row-content h2 {
        font-size: 1.8rem;
        padding-top: .7rem;
    }

    .row-content p {
        font-size: 1.3rem;
        padding-top: 1rem;
        padding-bottom: 2rem;
    }

    .row-content h3 {
        font-size: 1.8rem;
    }    
   
    .mobile1 {
        display: inline;
    }

    .mobile2 {
        display:inline;
    }

    nav ul {
        display:inline;
        justify-content: left;
    }
    
    .footer {
        display: none;
    }

    .row {
        display:block;
    }

    .hidden-footer {
        display: block;
        background-color: green;
        text-align: center;
        font-family: 'Shadows Into Light', cursive;
        height: 250px;
        padding-top:   0.5rem;
    }

   em {
    font-size: 0.85rem;
 }
}