body {
    background-color: black;
    color: white;
    font-size: 31px;   
}

header {
    background-color: green;
    font-family: 'Frijole', cursive;
}

h1 {
    font-size: 48px;
    padding-top: 10px;
}

a {
    color: white;
    font-weight: 300;
    text-decoration: none;
  }

nav ul {
    display: flex;
    justify-content: flex-end;
}

nav li {
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: auto;
    font-size: 30px;
    padding-left: 50px;
    padding-right: 50px;
}

nav a {
    color: white;
    text-decoration: none;
    display: inline;
}

.together {
   background-image: url("images/trial7.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

.together h2, 
.together h3 {
text-align: center;
}

h2 {
font-weight: 800;
text-transform: uppercase;
text-decoration: underline;
padding-top: 10px;
padding-bottom: 10px;
}

.together h3 {
    font-size: 24px;
    padding-bottom: 20px;
}

#marg-img {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-direction: row;
    align-items: center;
}

.row {
    display: flex;
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: auto;
}

.actions {
    display: inline-block;
    padding: 5px 20px;
    margin: auto;
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
  }
  
.list {
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
}

.col-4 {
    flex-basis: 33.33333%;
    display: inline-block;
}

.col-6 {
flex-basis: 50%;
}

.col-12 {
    flex-basis: 100%;
    padding-bottom: 20px;
    padding-top: 20px;
}

.list {
    font-family: 'Gloria Hallelujah', cursive;
}

h4 {
    text-decoration: underline;
}

li {
    font-size: 28px;
}

li:hover {
color: grey;
}

.default    {
    text-align: center;
    color: rgb(255, 89, 0);
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 24px;
    background-color: rgb(31, 28, 28);
    height: 100%;
}

.span{
    font-weight: italic;
    cursor: pointer;
    text-decoration: none;
  }

  .default a {
    color: blue;
    font-weight: 300;
  }

.footer {
    background-color: green;
    text-align: center;
    font-family: 'Shadows Into Light', cursive;
    height: 198px;
}

h5 {
    font-size: 28px;
    padding-top: 30px;
}

.footer img {
    padding-top: 140px;

}

footer {
    text-align: left;
    font-size: 14px;
    padding-top: 170px;
}

.hidden-footer {
display: none;
}

@media (max-width: 768px) {
    .row {
      display: block;
    }

    .mobile1 {
        display: inline;
    }

    .mobile2 {
        display:inline;
    }

    nav ul {
        display:inline;
        justify-content: left;
    }

    #marg-img {
        margin-top: 0rem;
        margin-bottom: 0rem;
        padding-top: 0rem;
        padding-bottom: 0rem;
    }

    .footer {
        display: none;
    }

    .hidden-footer {
        display: block;
        background-color: green;
        text-align: center;
        font-family: 'Shadows Into Light', cursive;
        height: 250px;
        padding-top:   0.5rem;
    }

   em {
 font-size: 0.85rem;
 }
}